<nav
  class="navbar navbar-expand-lg navbar-light bg-body-tertiary"
  style="background: linear-gradient(to right, #ffd700, #000000); color: white"
>
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars" style="color: white"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mt-2 mt-lg-0" href="#" style="color: white">
        <img src="" height="15" alt="" loading="lazy" />
        MyBrand
      </a>
    </div>

    <!-- Right-side icons and dropdowns with more space from screen edge -->
    <div
      class="d-flex justify-content-end align-items-center"
      style="padding-right: 50px"
    >
      <!-- Shopping cart -->
      <a class="text-reset me-4" style="color: white">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->
      <div class="dropdown me-3" (click)="toggleDropdown('avatar')">
        <a
          class="dropdown-toggle d-flex align-items-center"
          id="navbarDropdownMenuAvatar"
          role="button"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul style="cursor: pointer;"
          class="dropdown-menu dropdown-menu-end"
          [ngClass]="{ show: showDropdown === 'avatar' }"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
        <li><a class="dropdown-item" (click)="redirectToUserProfile()">My profile</a></li>
        <li><a class="dropdown-item"  (click)="logout()">Logout</a></li>
        
        </ul>
      </div>

      <!-- Avatar -->

      <div class="dropdown me-3" (click)="toggleDropdown('notifications')">
        <a
          class="text-reset dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          style="color: white"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
      </div>
    </div>
  </div>
</nav>
