<div class="sidebar" [class.collapsed]="isCollapsed">
    <h4 class="text-primary"></h4>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/admin-home" class="nav-link">
          <i class="fas fa-home  p-2"></i> <span>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/product-adding" class="nav-link ">
          <i class="fas fa-cogs p-2"></i> <span>Product Adding</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/product-management" class="nav-link">
          <i class="fas fa-cog  p-2"></i> <span>Product Mangement</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/category" class="nav-link">
          <i class="fas fa-list-alt  p-2"></i> <span>Category Adding</span>
        </a>
      </li>
    </ul>
  </div>
  