<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <!-- Sidebar toggle button -->
    <button class="btn btn-outline-primary me-3" (click)="toggleSidebar.emit()">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <!-- <img
        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
        height="16"
        alt="MDB Logo"
        loading="lazy"
      /> -->
    </a>

    <!-- Navbar toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>

      <!-- Right-side buttons -->
      <div class="d-flex align-items-center">
        <button class="btn btn-link px-3 me-2" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
